.works_content {
  background: #FAFAFB;
  margin-top: 5px;
  /*清除双击选中文字效果*/
  user-select: none;
  overflow-x: hidden;
}

/*********************页面上半部分***************************/
.works_content .works_header {
  margin-top: 0;
  padding-top: 0;
}

/*搜索框*/
.works_header .works_header_search {
  float: left;
  margin-right: 30px;
  line-height: 60px;
}

.works_content .radio-box{
  margin-top: 5px;
  margin-bottom: 5px;
}
.works_content .description-input{
  background: none;
  outline: none;
  type:"text";
  border: 0px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(200,200,200); opacity:1;
}

 ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(200,200,200);opacity:1;
}

input:-ms-input-placeholder{
  color: rgb(200,200,200);opacity:1;
}

 input::-webkit-input-placeholder{
  color: rgb(200,200,200);opacity:1;
}
.works_content .description-box{
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: rgb(200,200,200) 1px solid;
  display: inline;
  margin-left: 30px;
}

.works_content .title-hint {
  /* font-size: 13px; */
  margin-left: 8px;
  color: #dddddd;
  display: inline-block;
  height: 34px;
  line-height: 34px;
}
.works_header .works_header_search >>> .el-input__inner {
  height: 30px;
  width: 300px;
  border-radius: 50px;
  /* font-size: 10px; */
}

/*确认按钮*/
.works_header .sureBtn {
  line-height: 60px;
  background-color: #3B87F5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  /* font-size: 12px; */
  cursor: pointer;
  margin-right: 30px;
}

/*头部的列表*/
.works_header .works_header_save {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  /* font-size: 13px; */
}

.works_header .works_header_save span {
  border: #3B87F5 1px solid;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #3B87F5;
  color: white;
  cursor: pointer;
}
.works_content .dd {

  animation: shake 1s;
  -o-animation: shake 1s;
  -webkit-animation: shake 1s;
  -moz-animation: shake 1s;
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

@-o-keyframes shake {
  /* Opera */
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

@-webkit-keyframes shake {
  /* Safari 和 Chrome */
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
  }
}

@-moz-keyframes shake {
  /* Firefox */
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(5px);
  }
}
