.topSelectTop {

}

.topSelectTop .item {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  /* font-size: 14px; */
  font-weight: bold;
  cursor: pointer;
}

.topSelectTop .select {
  border-bottom: 2px #3B87F5 solid;
  color: #3B87F5;
}
